[Interface]
Address = {{ wg_address }}
SaveConfig = true
PostUp = ufw route allow in on wg0 out on eth+
PostUp = iptables -t nat -I POSTROUTING -o eth+ -j MASQUERADE
PreDown = ufw route delete allow in on wg0 out on eth+
PreDown = iptables -t nat -D POSTROUTING -o eth+ -j MASQUERADE
ListenPort = {{ wg_port_dynamic }}
PrivateKey = {{ private_key.stdout }}
