[Interface]
Address = {{ wg_address }}
SaveConfig = true
PostUp = ufw route allow in on wg0 out on enX0
PostUp = iptables -t nat -I POSTROUTING -o enX0 -j MASQUERADE
PreDown = ufw route delete allow in on wg0 out on enX0
PreDown = iptables -t nat -D POSTROUTING -o enX0 -j MASQUERADE
ListenPort = {{ wg_port_dynamic }}
PrivateKey = {{ private_key.stdout }}

[Peer]
PublicKey = {{ wg_peer_public_key }}
AllowedIPs = {{ wg_peer_ip }}
